body{
    background-color: rgb(7, 0, 15);   
    overflow: hidden; 
}

.list{
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5px;
}

.item img{
    height: 160px;
}

.list:hover .item{
    filter: grayscale(1) blur(10px);
}

.list:hover .item:hover{
    filter: none;
}